.magnifyBtn {
  padding: 12px 24px;
  background-color: hsl(222, 100%, 95%);
  color: hsl(243, 80%, 62%);
  border-radius: 6px;
  transition: transform 250ms ease-in-out;
}

.magnifyBtn:hover {
  transform: scale(1.10);
}

.magnifyBtn:active {
  transform: scale(.9);
}



.pressDownButton {
  background-color: #F5F5EC;
  padding: 6px 12px;
  color: #0D875C;
  border-radius: 6px;
  border-bottom: 4px solid #D3D3CA;
  transition: all 0.1s ease-in-out;
}

.pressDownButton:hover {
  border-bottom-width: 0;
  margin-top: 3px;
}


.circleScaleBtn {
  padding: 6px 18px;
  background-color: #0D875C;
  color: #F5F5EC;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  /* z-index: 1; */
}

.circleScaleBtn span {
  /* z-index: 1; */
  position: relative;
}

.circleScaleBtn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  transform: translate3d(-50%,-50%,0) scale3d(0,0,0);
  transition: opacity .4s cubic-bezier(.19,1,.22,1),transform .75s cubic-bezier(.19,1,.22,1);
  background-color: #0A5429;
  opacity: 0;
}

.circleScaleBtn:hover span {
  color: #F5F5EC;
}

.circleScaleBtn:hover::before {
  opacity: 1;
  transition-duration: .85s;
  transform: translate3d(-50%,-50%,0) scale3d(1,1,1)
}